:root { 
      --primary-text-color: #212121;
      --secondary-text-color: #757575;
      --accent-color: #2196f3;
      --primary-bg-color: #e5e5e5;
      --secondary-bg-color: #2f303a;
      --grey-bg-color: #f5f4fa;
      --color-title: #ffffff;
      --color-btn: #2196F3;
    
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
img {
    display: block;
}

body {
      
      color: var(--secondary-text-color);
      font-family: Roboto, sans-serif;
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      font-family: 'Roboto',
      sans-serif;
}

.list {
     list-style: none;
     margin: 0;
     padding: 0;
 }
 .link{
     text-decoration: none;
 }
 .container {
     width: 1200px;
     margin: 0 auto;
     padding-left: 15px;
     padding-right: 15px;
    }

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
 /*-----HEADER-----*/
 .header {
     padding-top: 32px;
     padding-bottom: 32px;
 }

 .header-container {
     display: flex;
     align-items: center;
     padding-top: 24px;
     padding-bottom: 25px;
        
 }
.header-nav
{
    display: flex;
    align-items: center;
}
.header-list
{
    display: flex;
    align-items: center;
    margin-left: 93px;
   
}
.header-item{
    display: flex;
}
.header-list-contact {
    display: flex;
    margin-left: auto;
    align-items: center;
}
 .logo {
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: var(--primary-text-color);
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        
       
   }

 .logo-web {
     color: var(--accent-color);
 }

 .header-list, 
 .header-link
 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
 }

 .header-item:not(:last-child)
 {
     margin-right: 50px;
 }

.header-link:hover,
.header-link:focus
{
    color: var(--accent-color);
}
.header-link.current
{
    color: var(--accent-color);
}
.header-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color:  var(--secondary-text-color);
    font-family: 'Roboto',
    sans-serif;
}
.header-contact:hover,
.header-contact:focus {
    color: var(--accent-color);
}
.hearer-list-contact {
    display: flex;
    align-items: center;
}
.header-item-contact:not(:last-child)
{
    margin-right: 50px;
}
/*-----HEADER END-----*/

/*-----HERO-----*/
.hero {
    display: block;
    /*background-color: var(--secondary-bg-color);*/
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/bg-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
  }
.hero-title {
    display: block;
     width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-title);
    margin: 0 auto;
    margin-bottom: 30px;   

}
.hero-btn {
    background-color: var(--color-btn);
    color: var(--color-title);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    width: 200px;
    height: 50px;
    /* identical to box height, or 187% */
    letter-spacing: 0.06em;
    text-align: center;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    justify-content: center;
    margin: 0 auto;
   }
/*-----HERO-----*/

/*-----FEATURES-----*/
.features {
width: 1170;
padding-bottom: 47px;

}
.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
   margin-bottom: 10px;
    
}

.feature-text {
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.feature-list {
   display: flex;
   margin-left: -30px;
}
.feature-item{
    flex-basis: calc(100% / 4 -  30px);
    margin-left: 30px;
    display: block;
}

.feature-item::before{
    content: "";
    width: 270px;
    height: 120px;
    background-color: var(--grey-bg-color);
    margin-bottom: 30px;
    border-radius: 4px;
    display: block;
}
/*-----FEATURES END-----*/

/*-----WORK-----*/
.work{
    padding-top: 47px;
}
.work-title {
    /*display: flex;*/
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 auto;
    margin-bottom: 50px;

}
.work-list {
    display: flex;
    margin-left: -30px;
}
.work-item {
     flex-basis: calc(100% / 3 - 30px);
     margin-left: 30px;
}
/*-----WORK END-----*/

/*-----TEAM-----*/
.team{
    background-color: var(--grey-bg-color);
}
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.team-item-title{
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    text-align: center;
    justify-content: center;
    color: var(--primary-text-color);
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-pro{
    display: flex;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-text-color);
    justify-content: center;
    padding-bottom: 16px;

}
.team-list{
    display: flex;
    margin-left: -30px;
   
}

.team-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 2px 1px rgba(0, 0, 0, 0.2);
     border-radius: 0px 0px 4px 4px;
     border-bottom: var(--grey-bg-color);
}

.social-item{
    width: 44px;
    height: 44px;
    margin-bottom: 30px;

}
.social-link{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    background-color: red;
    display: block;
}
.social-list {
    display: flex;
    justify-content: center;
}
.social-item+.social-item{
    margin-left: 10px;
}
/*-----TEAM END----*/
/*-----CLIENT-----*/
.client-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.client-list{
    display: flex;
    justify-content: center
}
.client-link{
    display: block;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
}
.client-item+.client-item{
    margin-left: 30px;
}
/*-----FOOTER-----*/

.footer {
 background-color: var(--secondary-bg-color);
 padding-top: 60px;
 padding-bottom: 60px;
 
}
.footer-logo {
    display: flex;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--color-title);
    text-decoration: none;
    font-family: 'Raleway',
    sans-serif;
    

}
.footer-logo-web {
    color: var(--accent-color);
}
.adres {
    font-style: normal;

}
.adres-item,
.adres-contact {
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-family: 'Roboto',
    sans-serif;
}
.adres-adres {
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--color-title);
    font-family: 'Roboto', sans-serif;
    }
.adres-item{
    margin-top: 9px;
}
/*-----FOOTER END-----*/

/*----PORTFOLIO-----*/
.portfolio-line{
    border-bottom: 1px solid #ECECEC;
}
.project-btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.project-btn-item:not(:last-child) {
margin-right: 8px;
}
.project-btn-item{
    padding-top: 6px;
    padding-bottom: 6px;
}
.project-btn {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    /* identical to box height, or 162% */
    letter-spacing: 0.03em; 
    color: var(--primary-text-color);
    cursor: pointer;
    border: none;
    font-family: inherit;
   
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    
    }

.project-btn:hover,
.project-btn:focus {
    color: var(--color-title);
    background-color: var(--accent-color);
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 1px 2px rgba(0, 0, 0, 0.08),
     0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-img-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    
}

.project-img-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    font-family: 'Roboto',
    sans-serif;
   
    margin-bottom: 4px;
    
}
.project-img-text{
font-size: 16px;
line-height: 1.87;
/* identical to box height, or 187% */

letter-spacing: 0.03em;
color: var(--secondary-text-color);
font-family: 'Roboto',
sans-serif;


}
.project-img-item {
    display: block;
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-bottom: 30px;
   
}
.subtitle{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}